@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap");

body {
    font-family: "Texturina", serif;
    background-color: white;
}

#krypto-logo {
    font-family: "Leckerli One", cursive;
}

nav {
    background-color: darkslateblue;
}

.header-image {
    height: 50vh;
    min-height: 200px;
    background-image: url("./images/crypto.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.krypto-intro {
    font-family: "Leckerli One", cursive;
    font-size: 45pt;
    color: white;
    margin-bottom: 2%;
}

.krypto-slogan {
    font-size: 20pt;
    color: white;
}
