/* #container {
    background-color: grey;
    width: 300px;
    height: 300px;
    position: relative;
    box-sizing: border-box;
}
#dot {
    position: absolute;
    background-color: red;
    border: 2px solid #000;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
}

#container:hover #dot {
    opacity: 0.5;
} */

#container {
    border: 3px solid black;
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    width: 400px;
}

.box {
    background-color: #55cdff;

    width: 100px;
    height: 100px;
}
