@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffa07a;
}

.header {
    font-family: "Bree Serif", serif;
    border-style: groove;
    border-color: darkslateblue;
    border-radius: 10px;
    border-width: 4px;
    font-size: 22pt;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightsteelblue;
}

#weather {
    display: none;
}

#city {
    font-family: "Bree Serif", serif;
    border-style: groove;
    border-color: darkslateblue;
    border-radius: 10px;
    border-width: 3px;
    font-size: 18pt;
    width: 18%;
    padding: 2px;
    padding-left: 20px;
    position: relative;
    outline-width: 0;
    background-color: #ffa07a;
    cursor: pointer;
}

.todolist-wrapper {
    font-family: "Source Sans Pro", sans-serif;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 10px;
    border-width: 3px;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    /* padding-left: 25px; */
    background-color: lightsteelblue;
    box-shadow: 10px 10px 18px 4px lightslategray;
}

#todolist-title {
    font-family: "Bree Serif", serif;
    font-size: 28pt;
    font-weight: 580;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    /* margin-left: -25px; */
    margin-top: 0;
    margin-bottom: 0;
    /* width: 574px; */
    background-color: lightgreen;
}

.items-wrapper {
    font-size: 18pt;
    line-height: 2;
    margin-top: -25px;
}

#new-item {
    font-family: "Bree Serif", serif;
    font-size: 16pt;
    background-color: lightgrey;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* border-top-width: 3px;
    border-top-color: darkslateblue;
    border-bottom-width: 3px;
    border-bottom-color: darkslateblue; */
    /* margin-left: -25px; */
    padding: 12px 40px;
    width: 100%;
    height: 60px;
    outline-width: 0;
}

.items {
    list-style-type: none;
    width: 100%;
    /* margin-left: -25px;
    width: 574px; */
    margin-bottom: -1px;
    padding-left: 0;
}

.item {
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkslateblue;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /* margin-left: -40px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.item:hover {
    background-color: lightskyblue;
}

.item-crossed {
    background-color: lightslategrey;
}

.item-text {
    cursor: pointer;
}

.item-text-crossed {
    text-decoration-line: line-through;
}

.remove-button {
    cursor: pointer;
}

.new-item-icon {
    font-size: 35pt;
    margin-left: 280px;
    transform: translateY(5px);
    cursor: pointer;
}
