@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Gentium Book Basic", serif;
}

body {
    background-color: lightsteelblue;
}

#header {
    background-color: bisque;
    padding: 10px;
}

#header h1 {
    font-size: 35pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
}

.product-wrapper {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#product-name {
    width: 80%;
    font-size: 30pt;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-top-color: darkslateblue;
    border-bottom-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
}

#product-name-tablet {
    display: none;
}

#product-image-promo {
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

#product-image-promo img {
    width: 100%;
}

#promo {
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    width: 70%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    border-color: darkslateblue;
    background-color: mediumspringgreen;
}

#product-information {
    float: left;
    padding: 3%;
}

.product-information-review {
    font-size: 16pt;
    font-weight: 550;
}

.product-information-description {
    font-size: 16pt;
    font-weight: 550;
}

.product-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.related-wrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.related-wrapper h2 {
    text-align: center;
    font-size: 24pt;
}

#related-images {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-left: auto;
}

.image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-style: solid;
    border-color: darkviolet;
    border-width: 4px;
    position: relative;
}

.image img {
    width: 100%;
    display: block;
}

.image h3 {
    font-size: 6vw;
    font-weight: 1000;
    color: red;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    left: 10%;
    right: 10%;
    top: 30%;
    visibility: hidden;
    box-sizing: border-box;
}

.image:hover img {
    opacity: 0.3;
}

.image:hover h3 {
    visibility: visible;
}

#separate-tablet {
    display: none;
}

@media (min-width: 768px) {
    .product-wrapper #product-name {
        display: none;
    }

    #product-image-promo {
        float: left;
        width: 45%;
        margin-left: 1%;
        margin-top: 10px;
    }

    #promo {
        font-size: 16pt;
        font-weight: 600;
        text-align: center;
        width: 78%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        border-style: solid;
        border-radius: 50px;
        border-width: 3px;
        border-color: darkslateblue;
        background-color: mediumspringgreen;
    }

    #product-name-tablet {
        font-style: italic;
        display: block;
        float: left;
        width: 48%;
        font-size: 25pt;
        font-weight: 800;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-top-color: darkslateblue;
        border-bottom-color: darkslateblue;
        margin-left: 3%;
        margin-top: 10px;
    }

    #product-information {
        float: left;
        padding: 1.5%;
        margin-left: 3%;
        margin-right: auto;
        width: 46%;
    }

    .product-information-review {
        font-size: 14pt;
        font-weight: 550;
    }

    .product-information-description {
        font-size: 14pt;
        font-weight: 550;
    }

    #related-images {
        width: 100%;
        margin-top: 25px;
        margin-left: auto;
        margin-left: auto;
    }

    .image {
        float: left;
        width: 48%;
        margin: 1%;
        border-style: solid;
        border-color: darkviolet;
        border-width: 4px;
        position: relative;
        box-sizing: border-box;
    }

    .image h3 {
        font-size: 4vw;
        font-weight: 1000;
        color: red;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 20%;
        visibility: hidden;
        box-sizing: border-box;
    }

    .related-wrapper::after {
        content: "";
        clear: both;
        display: table;
    }

    #separate-tablet {
        display: table;
        clear: both;
    }
}

@media (min-width: 992px) {
    .product-wrapper {
        max-width: 1000px;
        box-sizing: border-box;
    }

    .related-wrapper {
        max-width: 1000px;
        box-sizing: border-box;
    }

    #product-information {
        float: left;
        padding: 1.5%;
        margin-left: 3%;
        margin-right: auto;
        width: 46%;
        max-width: 1000px;
    }

    .product-information-review {
        font-size: 18pt;
        font-weight: 550;
    }

    .product-information-description {
        font-size: 18pt;
        font-weight: 550;
    }

    #related-images {
        width: 100%;
        margin-top: 25px;
        margin-left: auto;
        margin-left: auto;
    }

    .image {
        float: left;
        width: 23%;
        margin: 1%;
        border-style: solid;
        border-color: darkviolet;
        border-width: 4px;
        position: relative;
        box-sizing: border-box;
    }

    .image h3 {
        font-size: 22pt;
        font-weight: 1000;
        color: red;
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        left: 10%;
        right: 10%;
        top: 10%;
        visibility: hidden;
        box-sizing: border-box;
    }

    #separate-tablet {
        display: none;
    }
}
